{{#if user}}

  <form action="/logout" method="get">
    <input type="submit" value="Log Out" name="Submit" class="logoutButton" />
  </form>
  <br>
  <br>

  <div id="header">
    <h1>_ARCHITEKT</h1>
    <div id="quote">
          <p>Welcome to our online portfolio, we are a small group of passionate designers and architets, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme</p>
    </div>

  </div>

  <div class="uploadContainer">
    <label class="dropdown">
      <div class="dd-button">
        Upload Image
      </div>

      <input type="checkbox" class="dd-input" id="test">

      <div id="uploadForm">
        <form action="/gallery" method="post">
          <label for="Author">Author</label>
          <input id="Author" type="text" name="Author" placeholder="Author of Picture">
          <br>
          <label for="description">Description</label>
          <input id="description" type="text" name="description" placeholder="Description">
          <br>
          <label for="link">Link</label>
          <input id="link" type="text" name="link" placeholder="Link">
          <br>
          <input type="submit" name="" value="Send">
        </form>
      </div>
      <div class="error">
        <strong>{{error}}</strong>
      </div>

    </label>

  </div>


{{else}}

  <div id="header">
    <h1>_ARCHITEKT</h1>
  </div>

  <div class="uploadContainer">
    <label class="dropdown">
      <div class="dd-button">
        Login
      </div>

      <input type="checkbox" class="dd-input" id="test">

      <div id="loginForm">
        {{!-- <form action="/login/" method="post"> --}}
        <form id="user-form">
          <div>
            <label>Username:</label>
            <input id="username" type="text" name="username" />
          </div>
          <div>
            <label>Password:</label>
            <input id="password" type="text" name="password" />
          </div>
          <div>
            <input id="user-login" type="submit" value="Log In" />
            <input id="user-new" type="submit" value="New User" />
          </div>
        </form>
      </div>

    </label>
  </div>



{{/if}}

<div class="container">
  {{#each pictures}}
    <div class="picture">

      <a href="/gallery/{{id}}/edit" class="expand"><img class="pictureFile" src= {{link}} /></a>
      <strong class="author">{{Author}}</strong>
      <br>
      <strong class="description">{{description}}</strong>
      <br>
    </div>
  {{/each}}

</div>

<script type="text/javascript" src="app.js"></script>
