<h1>Gallery</h1>
<div class="pictures">
    <div class="picture">
      <p>{{pictures.0.Author}}</p>
      <p>{{pictures.0.description}}</p>
      <img class="pictureFile" src={{pictures.0.link}} />
    </div>
    <div class="picture">
      <p>{{pictures.1.Author}}</p>
      <p>{{pictures.1.description}}</p>
      <img class="pictureFile" src={{pictures.1.link}} />
    </div>
</div>
