{{#if user}}

{{>new}}

{{else}}

{{>login}}

{{/if}}

<div class="container">
  <div class="mainImage">
    <img src="http://i.imgur.com/lZE4fsA.jpg">
  </div>
</div>

<hr class="line">

<div class="container">
  {{#each pictures}}
    <div class="picture">

      <a href="/gallery/{{id}}/edit" class="expand"><img class="pictureFile" src= {{link}} /></a>
      <strong class="author">{{Author}}: </strong><strong class="description">{{description}}</strong>


      <br>
    </div>
  {{/each}}

</div>

<hr class="line">
